body {
    background-color: #9A7AF4;
    color: rgb(0, 0, 0);
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    justify-content: center;
}

.container {
    background-color: #FFFFFF;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
    margin: 5% 10%;
    max-width: 800px;
    padding: 2rem;
    position: relative;
    width: 100%;
}.container h1{
    color: #2F2965;
    margin-top: 40px;
    font-size: 46px;
    font-weight: 500;
    text-align: center;
}.container h2{
    font-size: 24px;
    margin: 2rem 0 1rem;
    text-align: center;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.form label {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.form input {
    box-sizing: border-box;
    border-radius: 6px;
    border-style: solid;
    height: 36px;
    margin-top: 8px;
    padding-left: 1rem;
    width: 300px;
}.log{
    box-sizing: border-box;
    border-radius: 6px;
    height: 69px;
    background-color: #ffd6fc;
    margin-top: 8px;
    padding: 0.5rem;
    width: 300px;
}.visible{
    visibility: hidden;
}.log h3{
    text-align: center;
    font-weight: 500;
}.log p{
    text-align: center;
    margin: 0.5rem 0 0 0;
}

.button {
    background-color: #53396F;
    border: none;
    border-radius: 6px;
    color: #FFF;
    height: 46px;
    position: absolute;
    bottom: 34px;
    width: 150px;
}

.button:hover {
    background-color:#A03A3B;
}

.imagem {
    background-image: url("../assets/pattern.jpg");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}